* {
    font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif !important;
    color: #00ffff !important;
    background: #ff00ff !important;
    border: 2px dashed #99ff00 !important;
    cursor: url('../img/peri-emoji.png') 25 15, auto;
}