$yellow: #ffff00;
$black: #000000;
$white: #ffffff;

$gray: #999999;
$light-gray: #adadad;
$dark-gray: #161616;
$greyish-black: #0d0d0d;

$border-color: #e5e5e5;

$main-color: $yellow;

.-white {
    color: $white;
}