
//General
$bg-hero: url('../img/bg-aguirre.jpg');
$bg-hero-home: url('../img/bg-home.jpg');
$bg-hero-about: url('../img/bg-about.png');
$bg-hero-services: url('../img/bg-services.jpg');
$bg-hero-pd: url('../img/bg-pd_s4.jpg');
$bg-hero_mobile: url('../img/bg-aguirre_mobile.jpg');

//Project Discovery
$i-goals-01: url('../img/i-goals-01.svg');
$i-goals-02: url('../img/i-goals-02.svg');
$i-goals-03: url('../img/i-goals-03.svg');




