<div class="medium-insert-embeds medium-insert-embeds-wide">
	<figure>
        <div class="medium-insert-embed">
			<div style="max-width:320px;margin:auto;">
                <div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 56.2493%;">
                    <iframe src="https://www.youtube.com/embed/{{ self.youtube_video_id }}?rel=0&amp;showinfo=0&amp;loop=1&amp;mute=1" style="border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;" allowfullscreen="" scrolling="no" allow="autoplay; encrypted-media"></iframe>
                </div>
            </div>
		</div>
	</figure>
</div>